// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.8;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gold: #F4B400;

$bodyBg: #383A3F;
$darkGrey: #40434A;
$gold: #F4B400;
$secondary: #76787d;
$blue: #4285F4;

$lg: 920px;
$md: 768px;
$sm: 576px;
$xs: 400px;