@import '../variables';

.note-popover {
    display: none;
}

.main {
    width: 98%;
    display: grid;
    grid-template-columns: 350px auto;
    grid-gap: 1rem;
    margin: 2rem auto;

    * {
        word-break: break-word;
    }

    @media screen and (max-width: $md) {
        grid-template-columns: 1fr;
    }

    .sidebar {
        align-self: start;

        #add-category {
            display: flex;
            border: 1px solid #ddd;

            i {
                font-size: 1.3rem;
                color: #ddd;
                transition: 0.5s all;

                &:hover {
                    color: $gold;
                }
            }

            input {
                background: transparent;
                width: 100%;
                flex: 1;
                border: 0;
                color: #fff;

                &::placeholder {
                    color: #aaa;
                }

            }

            margin: 1rem 0;

            .btn.add {
                align-items: center;
                padding: 0;
                margin-right: 0.8rem;

                svg {
                    width: 25px;
                    height: 25px;
                    fill: #ddd;
                    transition: 0.5s all;

                }

                &:hover svg {
                    fill: lighten($gold, 20);
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            background: $darkGrey;

            li {
                padding: 0 0.7rem;
                position: relative;
                border-bottom: 1px solid $bodyBg;
                display: grid;
                grid-template-columns: auto 40px 80px;
                align-items: center;
                min-height: 50px;

                &:before {
                    position: absolute;
                    content: '';
                    height: 0%;
                    width: 4px;
                    top: 0;
                    left: -2px;
                    background: $gold;
                    transition: 0.5s all;
                }

                &.active,
                &:hover {
                    &:before {
                        height: 100%;
                    }
                }

                span {
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    background: $bodyBg;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.8rem;
                    justify-self: center;
                }

                a {
                    color: #ddd;
                    text-decoration: none;
                    font-size: 1.1rem;
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .content {

        #new-post {
            background: $darkGrey;
            color: #ddd;
            margin: 1rem 0;

            svg {
                fill: #ddd;
                width: 22px;
                height: 22px;
            }
        }

        .no-posts {
            background: $darkGrey;
            padding: 1rem;
            text-align: center;
            color: #ddd;
        }

        .post {
            background: $darkGrey;
            margin-bottom: 1.5rem;

            .post-info {
                padding: 1rem;

                .title {
                    color: #fff;

                    a {
                        color: #fff;
                        text-decoration: none;
                        transition: 0.5 all;

                        &:hover {
                            color: $gold;
                        }
                    }
                }

                .categories {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 1rem 0;

                    a {
                        background: $bodyBg;
                        border-radius: 1rem;
                        border-left: 5px solid #f3b715;
                        color: #fff;
                        display: inline-block;
                        padding: 5px 20px;
                        transition: 0.5s all;
                        text-decoration: none;
                        margin: 5px;

                        &:hover {
                            background: $gold;
                            border-left-color: $bodyBg;
                        }
                    }
                }

                .description {
                    color: #ddd;
                    width: 90%;
                    line-height: 1.8;
                }

                .content {
                    border-top: 1px solid $bodyBg;
                    padding-top: 1rem;
                    color: #ddd;

                    * {
                        color: #ddd;
                    }

                    img {
                        width: unset;
                        max-width: 90% !important;
                    }

                    iframe {
                        @media screen and (max-width: $md) {
                            width: 90% !important;
                        }
                    }
                }
            }

            .post-meta {
                border-top: 3px solid $bodyBg;
                display: grid;
                grid-template-columns: 1fr 2fr;
                padding: 0 1rem;
                align-items: center;
                position: relative;
                min-height: 50px;
                * {
                    color: #ddd;
                }

                &:before {
                    position: absolute;
                    content: '';
                    height: 50%;
                    width: 4px;
                    top: 25%;
                    left: -2px;
                    background: $gold;
                    transition: 0.5s all;
                }

            }
        }

        form {
            background: $darkGrey;
            padding: 1rem;

            label {
                color: #ddd;
                font-size: 1rem;
            }

            input,
            textarea {
                background: transparent;
                border: 1px solid #ddd;
                color: #fff;

                &::placeholder {
                    color: #aaa;
                }
            }

            .tail-select {
                display: block;
                width: 100%;

                * {
                    color: #fff;
                }

                .select-label {
                    background: transparent;
                    border: 1px solid #ddd;
                    border-radius: 0;
                    box-shadow: none;

                    &:before,
                    &:after {
                        content: unset;
                    }
                }

                .select-dropdown {
                    background: $darkGrey;
                    z-index: 1000;
                    margin-top: 5px;

                    &:after,
                    &:before {
                        content: unset;
                    }

                    .dropdown-search input {
                        color: #ddd;
                    }

                    .dropdown-option:hover {
                        &:hover {
                            color: $darkGrey;
                        }
                    }
                }

                &.active {
                    .select-label {
                        &:after {
                            background-color: transparent;
                            border-color: transparent;
                        }
                    }
                }
            }

            .note-editor {
                border-color: #ddd;

                .note-toolbar {
                    button {
                        color: #fff;
                    }

                    .dropdown-menu {
                        background: $darkGrey;
                    }

                    .dropdown-style {
                        width: 175px;
                    }

                    .dropdown-style,
                    .note-fontsize {

                        li {
                            border-bottom: 1px solid #ddd;
                            padding: 0.5rem 1rem;
                            ;

                            a,
                            pre {
                                color: #ddd;
                                text-decoration: none;
                            }

                        }
                    }
                }

                .modal {
                    * {
                        color: #222 !important;
                    }

                    .close {
                        margin: 0;
                        padding: 0;
                    }

                    label {
                        display: block;
                    }
                }

                .note-editing-area {
                    border-top: 1px solid #ddd;

                    .note-placeholder {
                        color: #ddd;
                    }

                    .note-editable {
                        background: transparent;
                        color: #fff;

                        * {
                            color: #fff;
                        }

                    }
                }

                .note-statusbar {
                    background: transparent;
                }
            }

            button[type="submit"] {
                background: transparent;
                border: 1px solid #ddd;
                border-radius: 3rem;
                margin: 2rem auto 0;
                display: block;
                width: 150px;

                span {
                    color: #ddd;
                }

                i {
                    color: #ddd;
                    font-size: 22px;
                }
            }
        }
    }

    .actions {
        justify-self: end;
        display: flex;

        .btn {
            display: inline-flex;
            align-items: center;
            padding: 0;
            margin: 0 0.3rem;

            i {
                font-size: 1.5rem;
                color: #ddd;
                transition: 0.5s all;
            }

            &.delete {
                &:hover i {
                    color: lighten($red, 10);
                }
            }

            &.edit {
                &:hover i {
                    color: $blue;
                }
            }
        }
    }
}

.swal-overlay {
    background-color: rgba(#000, 0.8);

    .swal-modal {
        background: $bodyBg;
        border-radius: 1rem;

        &.info {
            .swal-title {
                color: $blue !important;
            }
        }

        .swal-title {
            color: $red;
        }

        .swal-text {
            color: #ddd;
        }

        .swal-content__input {
            background: transparent;
            border: 1px solid $blue;
            border-radius: 3rem;
            color: #fff;

            &::placeholder {
                color: #aaa;
            }
        }

        .swal-footer {
            text-align: center;

            button {
                min-width: 150px;
                background: transparent;
                color: #ddd;
                border-radius: 3rem;
                transition: 0.5s all;
            }

            .swal-button--cancel {
                border: 1px solid $green;

                &:hover {
                    background: $green;
                }
            }


            .swal-button--confirm {
                border: 1px solid $blue;

                &:hover {
                    background: $blue;
                }
            }

            .swal-button--danger {
                border: 1px solid $red;

                &:hover {
                    background: $red;
                }
            }
        }
    }
}